.recent-posts-card {
  width: 320px;
  border: solid 1px #e8e8e8;
  position: relative;
  margin: 0 15px 20px;
  border-radius: 5px;
}

.card-data-head {
  display: block;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  line-height: 1.53;
  letter-spacing: normal;
  color: #555555;
  padding: 10px 19px 0;
}

.card-data-foot {
  display: block;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
  color: #555555;
  padding: 0 19px 10px;
}

.recent-posts-photo {
  display: block;
  background-color: #fff;
  width: 318px;
  height: 370px;
  background-repeat: no-repeat;
  background-size: 100%;
}

.recent-posts-card:hover .card-data-head {
  color: #fff;
}

.recent-posts-card:hover .card-data-foot {
  color: #fff;
}

.recent-posts-card:hover {
  background-color: #404040;
}

.recent-posts-card:hover .recent-posts-photo {
  filter: brightness(30%);
}

.recent-posts-card:hover .recent-posts-card-title {
  color: #fff;
}

.recent-posts-card:hover .recent-posts-card-txt {
  color: #fff;
}

.recent-posts-card-title {
  font-family: 'raleway', 'arial', sans-serif;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  color: #555555;
  padding: 0px 19px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.recent-posts-card-txt {
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  color: #8c8c8c;
  padding: 19px 19px 0;
}

.recent-posts-card-a {
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  color: #8c8c8c;
  text-decoration: none;
  position: relative;
  margin: 0 0 19px 19px;
  display: inline-block;
}

.recent-posts-card-a:before {
  content: "";
  border: 5px solid transparent;
  border-left: 6px solid #8c8c8c;
  position: absolute;
  top: 4px;
  left: 89px;
}

.recent-posts-card-a:hover {
  color: #fff;
}

.recent-posts-card-a:hover:before {
  border-left: 6px solid #fff;
}

