.searchWrap {
  display: flex;
  align-items: center;
  height: 38px;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  overflow: hidden;
}

.searchWrap input {
  height: inherit;
  padding-right: 115px;
  padding-left: 16px;
  border: none;
  outline: none;
  opacity: 0.7;
}

@media (max-width: 440px) {
  .searchWrap input {
      padding-right: 0px;
  }
}

.fa-search:before {
  opacity: 0.5;
}

.fa-search:hover:before {
  opacity: 1;
}

.searchWrapButton {
  height: inherit;
  padding: 0 13px;
  border: 0;
  background: none;
  border-left: 1px solid #e6e6e6;
}

.searchWrapButton:hover {
  cursor: pointer;
}