@import "../node_modules/normalize.css/normalize.css";

* {
	box-sizing: inherit;
}
html {
	box-sizing: border-box;
	height: 100%;
}
body {
	font-family: "montserrat", "Arial", "Helvetica", sans-serif;
	height: 100%;
}

#root {
	height: 100%;
}

.container {
	display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
	flex: 1 0 auto;
}
